html,
body {
  background-color: #161618;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#nav{
  background-color: #212124;
  padding: 20px;
  display: flex;
}

#nav div{
  padding: 10px;
}

#core{
  background-color: #161618;
}

ul div{
  color: white;
}

table{
  width: 100%;
}

tbody{
}

td{
  max-width: 33%;
  color: white;
  overflow:hidden;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #212124;
}


@media (max-width: 800px){
  td{
    display: block;
    max-width: 100%;
  }

}
